table.product_storage_card {
    width: 100%;
    font-size: 1.3em;
}

table.product_storage_card td {
    border: 1px solid black;
    padding-left: 4px;
}

#alert_limit, #vendor {
    height: 40px;
}

#default_code {
    padding-left: 0px;
}
